#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* new */
body {
  font-family: 'Arial', sans-serif;
  margin: 90px;
  padding: 40px;
  background-color:#fbf7f7;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #710606;
  text-align: center;
}

#currentSong {
  margin-bottom: 20px;
  text-align: center;
}

#albumArt {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

#playbackControls,
#volumeControl,
#bluetoothButton {
  margin-top: 15px;
  padding : 15px;
  display: flex;
  justify-content: space-around;
}

button {
  padding: 15px;
  cursor: pointer;
  background-color: #4caf50;
  color: #1e0303;
  border: none;
  border-radius: 80px;
  flex: 1;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  display: 'block',
}

button:hover {
  background-color: #327c36;
}

#volumeLevel {  
  font-weight: bold;
  margin-left: 10px;
  margin-right:3px;
}

#bluetoothDeviceList {
  list-style: none;
  padding: 0;
}

#bluetoothDeviceList li {
  margin-bottom: 10px;
}

#connectButton,
#disconnectButton,
#backButton {
  background-color: #4285f4;
}

#connectButton:hover,
#disconnectButton:hover,
#backButton:hover {
  background-color: #357ae8;
}

#connectedDevice {
  font-weight: bold;
  color: #4285f4;
}